<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hilton | Không tìm thấy trang yêu cầu</title>

    <% include particals/head.ejs %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2>Xin lỗi, trang bạn tìm kiếm không tồn tại!</h2>

                        <div class="mid_center">
                            <a class="btn btn-default" href="/admin/dashboard">Trở về Trang quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include particals/script.ejs %>
</body>
</html>
