<link rel="icon" href="/public/client/imgs/logo-citya-min.png">

<link href="/public/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/public/vendors/nprogress/nprogress.css" rel="stylesheet">
<link href="/public/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="/public/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
<!--<link href="/public/vendors/pnotify/dist/pnotify.css">-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css" rel="stylesheet">

<link href="/public/admin/css/style.css" rel="stylesheet">
