<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/admin/dashboard" class="site_title"><i class="fa fa-paw"></i> <span>CityA Admin</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="<%= user.profile.picture %>" alt="Anonymous" class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Chào mừng,</span>
                <h2><%= user.profile.name %></h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Bảng điều khiển</h3>
                <ul class="nav side-menu">
                    <li><a href="/admin/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Tổng quan</a></li>
                    <li>
                        <a><i class="fa fa-envelope" aria-hidden="true"></i> Yêu cầu đầu tư <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/subscribers">Tất cả yêu cầu</a></li>
                            <li><a href="/admin/subscribers?handled=true">Đã xử lý</a></li>
                            <li><a href="/admin/subscribers?handled=false">Chưa xử lý</a></li>
                        </ul>
                    </li>
					<li><a href="/admin/robots"><i class="fa fa-link" aria-hidden="true"></i> Robots.txt</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
