<script src="/public/vendors/jquery/dist/jquery.min.js"></script>
<script src="/public/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="/public/vendors/nprogress/nprogress.js"></script>-->
<script src="/public/vendors/moment/min/moment.min.js"></script>
<script src="/public/vendors/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
<!--<script src="/public/vendors/pnotify/dist/pnotify.js"></script>-->
<script src="/public/vendors/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/public/vendors/parsleyjs/dist/parsley.min.js"></script>
<script src="/public/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script src="/public/vendors/select2/dist/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/speakingurl/14.0.1/speakingurl.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>-->
<script src="/public/admin/js/custom.js"></script>

<% if (flash_messages) { %>
<% if (flash_messages.error && flash_messages.error.length > 0) { %>
<% flash_messages.error.forEach(err => { %>
<script>
    new PNotify({
        title: 'Lỗi!',
        text: '<%= err %>',
        type: 'error',
        styling: 'bootstrap3',
        hide: true,
        delay: 3000
    });
</script>
<% }); %>
<% } else { %>
<script>
    <%  for (let prop in flash_messages) {%>
    new PNotify({
        title: '<% if (prop === 'error') { %>Lỗi<% } else { %>Thành công<% } %>!',
        text: '<%- flash_messages[prop] %>',
        type: '<%= prop %>',
        styling: 'bootstrap3',
        hide: true,
        delay: 3000
    });
    <% } %>
</script>
<% } %>
<% } %>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
