<!DOCTYPE html>
<html lang="en">
<head>
	<% include meta.ejs %>
	<title>Dự án căn hộ cao cấp Hilton | First Real</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"/>
	<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/client/css/style.bundle.css">
	</head>
	
	<body>
		<main id="fullpage">
			<header class="section active introduce" data-anchor="du-an-hilton">
				<div class="content--introduce">
					<div class="div--logo">
						<h2>Căn hộ cao cấp</h2>
						<img class="logo--introduce" src="/public/client/imgs/Hilton-Logo.png" alt="Hilton">
					</div>
					<h2 class="title--introduce">Khu phức hợp khách sạn hilton đà nẵng</h2>
					<p class="sub--title-introduce">Không gian sống xứng tầm quốc tế</p>
					<p class="describe--introduce">Sừng sững nằm bên bờ sông Hàn, bao trọn không gian yên bình của thành phố biển xinh đẹp Đà Nẵng, nằm giữa 2 cây cầu đẹp
						bậc nhất: cầu sông Hàn và cầu Thuận Phước. Cùng với đó là sự sôi động của nhịp sống văn minh, Hilton Đà Nẵng xứng đáng
						là Khu phức hợp khách sạn mà chắc chắn một nhà đầu tư thông minh không thể nào bỏ qua.</p>
					<p class="describe--introduce">Hilton Đà Nẵng chính thức mở bán những căn hộ khách sạn vị trí độc quyền cực đẹp đầu tiên!</p>
					<hr>
				</div>
			</header>
			<section class="section investor" data-anchor="chu-dau-tu">
				<div class="investor--content text-center container">
					<h2 class="title">Chủ đầu tư dự án</h2>
					<div class="logo--investor">
						<img src="/public/client/imgs/Hilton-bach-dang.png" alt="Công ty NDN" class="img-fluid">
					</div>
					<p>Khu phức hợp khách sạn Hilton Đà Nẵng được đầu tư bởi Công ty TNHH Thương mại Dịch vụ Khách sạn Bạch Đằng. Ngay từ đầu
						khi thực hiện dự án, chủ đầu tư đã có ý tưởng tìm kiếm và kết nối với các tập đoàn quốc tế. Nhờ đó mà Hilton Đà Nẵng
						nằm trong sự vận hành của Tập đoàn hàng đầu về kinh doanh, quản lý khách sạn nổi tiếng bậc nhất thế giới - Tập đoàn
						Hilton Worldwide (Hoa Kỳ).</p>
				</div>
			</section>
			<section class="section size" data-anchor="thong-tin-du-an">
				<div class="size__wrap">
					<div class="size__item size__item--left-1">
						<h2>Thông tin dự án</h2>
						<p>
							- Tên dự án: Khu phức hợp khách sạn Hilton Đà Nẵng
						</p>
						<p>
							- Chủ đầu tư: Công ty TNHH Thương mại Dịch vụ Khách sạn Bạch Đằng
						</p>
						<p>
							- Vị trí dự án: Nằm trên trục đường Bạch Đằng - Trần Phú, phía bờ Tây sông Hàn, quận Hải Châu, thành phố Đà Nẵng
						</p>
						<p>
							- Loại hình: Khách sạn, căn hộ, văn phòng cho thuê, trung tâm thương mại
						</p>
						<p>
							- Tổng diện tích xây dựng: 60.872 m
							<sup>2</sup>
						</p>
						<p> - Diện tích căn hộ: 45 m
							<sup>2</sup> - 320 m
							<sup>2</sup>
						</p>
						<p>- Đơn vị quản lý vận hành: Tập đoàn Hilton Worldwide</p>
					</div>
					<div class="size__item size__item--right">
						<h2>Quy mô dự án</h2>
						<p>Bao gồm các hạng mục:</p>
						<p class="p--dots">- Khối tháp văn phòng – căn hộ: 21 tầng, gồm hơn 3.000 m
							<sup>2</sup> văn phòng và 70 căn hộ cao cấp</p>
						<p class="p--dots">- Khối tháp khách sạn: 29 tầng, gồm 226 phòng với diện tích từ 35 - 60 m
							<sup>2</sup>
						</p>
						<p class="p--dots">- Khối đế thương mại: 4 tầng với diện tích 10.000 m
							<sup>2</sup> phục vụ cho trung tâm thương mại</p>
						<p class="p--dots">- Tầng hầm: 2 tầng (200 chỗ đậu xe ô tô và 400 chỗ cho xe gắn máy)</p>
						<p class="p--dots">- Sân vườn và giao thông ngoài nhà</p>
	
					</div>
					<button class="btn--size" type="button">Đăng ký thông tin</button>
				</div>
			</section>
	
			<section class="section location" data-anchor="vi-tri">
				<div class="location--content container-fluid">
					<div class="row">
						<div class="offset-md-7 col-md-5 content">
							<h2 class="title title--white">VỊ THẾ ĐẮC ĐỊA
								<br>NÂNG TẦM GIÁ TRỊ</h2>
							<p>
								Khu phức hợp khách sạn Hilton Đà Nẵng nằm bên bờ Tây sông Hàn, giữa 2 cây cầu nổi tiếng là cầu Thuận Phước và cầu sông Hàn.
								Dự án xứng đáng là một vị trí chiến lược, thuộc vùng đất đẹp nhất của thành phố Đà Nẵng, vô cùng thuận tiện cho việc
								đầu tư phát triển các khách sạn cao cấp, khu căn hộ cao cấp cho thuê, dịch vụ thương mại,…
							</p>
	
							<p style="margin-bottom: 10px;">
								Được nhìn thấy toàn cảnh thành phố và thưởng trọn làn gió tươi mát từ sông Hàn. Nếu chọn Khu phức hợp khách sạn Hilton làm
								điểm mốc, khu khách có thể dễ dàng kết nối:
								<br>
								<span class="p--dots">- Sân bay Quốc tế Đà Nẵng: 4.2 km</span>
	
								<br>
								<span class="p--dots">- Phố cổ Hội An: 29.2 km</span>
	
								<br>
								<span class="p--dots">- Cố đô Huế: 96.8 km</span>
	
								<br>
								<span class="p--dots">- Bà Nà Hill: 25 km</span>
	
							</p>
							<div class="text-center">
								<img src="/public/client/imgs/Hilton1-01.png" alt="Vị trí đắc địa" class="img-location">
							</div>
						</div>
					</div>
				</div>
			</section>
	
			<section class="section highlights" data-anchor="dac-diem-noi-bat">
				<div class="highlights__content">
					<div class="highlights__content--top">
						<div class="content--inner">
							<h2>Đặc điểm nổi bật</h2>
							<p class="text-justify">Theo phân tích của các chuyên gia trong ngành, đa số khách hành sẽ lựa chọn dự án Hilton Đà Nẵng bởi ngoài vị trí đẹp
								còn có khả năng sinh lời cao vì được vận hành bởi một tập đoàn quốc tế. Chính vì vậy, dự án đang thu hút nhiều khách
								hành đến từ Hà Nội, thành phố Hồ Chí Minh.</p>
						</div>
					</div>
					<div class="highlights__content--bottom">
						<div class="content--inner">
							<ul class="pdLeft15">
								<li>GIÁ GỐC
									<span> từ chủ đầu tư</span>
								</li>
								<li>TIỀM NĂNG SINH LỜI
									<span> trong tương lai</span>
								</li>
								<li>CHIẾT KHẤU
									<span> cực kì hấp dẫn</span>
								</li>
								<li>NỘI THẤT CAO CẤP</li>
								<li>HỖ TRỢ VAY VỐN
									<span> từ ngân hàng</span>
								</li>
								<li>
									<span>Đơn vị quản lý, vận hành chuyên nghiệp</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="section utility" data-anchor="tien-ich-ben-ngoai">
				<div class="utility--wrap">
					<div class="utility--title">
						<h2 class="title title--white">Tiện ích
							<br>bên ngoài</h2>
						<p>Khu phức hợp khách sạn Hilton Đà Nẵng nằm ở trung tâm thành phố, cùng với những dự án và công trình nổi bật, đầy tiềm
							năng của thành phố Đà Nẵng.</p>
					</div>
					<div class="utility--content">
						<div class="utility--detail">
							<img src="/public/client/imgs/Hilton-bien-my-khe.png" alt="Đảo xanh" class="img-responsive">
							<p class="content--detail">Bãi tắm Mỹ Khê</p>
						</div>
						<div class="utility--detail">
							<img src="/public/client/imgs/Hilton-cau-tinh-yeu.jpg" alt="Euro Village" class="img-responsive">
							<p class="content--detail">Cầu tình yêu</p>
						</div>
						<div class="utility--detail">
							<img src="/public/client/imgs/Hilton-Cau-song-han.jpg" alt="Cầu tình yêu" class="img-responsive">
							<p class="content--detail">Cầu sông Hàn</p>
						</div>
						<div class="utility--detail">
							<img src="/public/client/imgs/Hilton-trung-tam-hanh-chinh.jpg" alt="Bãi tắm Mỹ Khê" class="img-responsive">
							<p class="content--detail">Trung tâm hành chính</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section utility--inside-detail" data-anchor="tien-ich-ben-trong">
				<h2 class="title title--section title--white">Tiện ích bên trong</h2>
				<div class="inside--wrap">
					<div class=" img--inside inside--detail-01">
						<p class="note--inside">Bãi đổ xe</p>
					</div>
					<div class="img--inside inside--detail-02">
						<p class="note--inside">Hồ bơi</p>
					</div>
					<div class="img--inside inside--detail-03">
						<p class="note--inside">Phòng tập Gym</p>
					</div>
					<div class="img--inside inside--detail-04">
						<p class="note--inside">Sân vườn</p>
					</div>
					<div class="img--inside inside--detail-05">
						<p class="note--inside">Đầy đủ nội thất</p>
					</div>
					<div class="img--inside inside--detail-06">
						<p class="note--inside">Ban công / sân thượng</p>
					</div>
				</div>
			</section>
			<section class="section policy__incentives" data-anchor="chinh-sach-uu-dai">
				<div class="size_wrap">
					<div class="policy__box">
						<h2 class="policy__box__title">Chính sách ưu đãi</h2>
						<div class="policy__box__content">
							<p class="policy__incentives__list">Ngân hàng Quân đội MB hỗ trợ vay vốn
								<strong>60%</strong>
							</p>
							<p class="policy__incentives__list">Cam kết lợi nhuận
								<strong>8%</strong>/năm</p>
							<p class="policy__incentives__list">Khách hàng cho thể kí gửi để chủ đầu tư cho thuê lại (ít nhất 5 năm)</p>
							<p class="policy__incentives__list">Hợp đồng tự do sang nhượng, không tính phí</p>
							<p class="policy__incentives__list">Chủ đầu tư cam kết mua lại bất cứ lúc nào nếu khách hàng có nhu cầu ở bất cứ thời điểm nào.</p>
							<p class="policy__incentives__list">Khách mua đặt cọc
								<strong>50%</strong> hợp đồng, phần còn lại thanh toán theo tiến độ</p>
							<p class="policy__incentives__list">Vì đất thuộc quản lý của bộ quốc phòng nên căn hộ được bán dưới hợp đồng cho thuê 45 ăm hoặc hợp đồng chuyển quyền
								sử dụng 45 năm.</p>
						</div>
					</div>
				</div>
			</section>
			<footer class="section contact" data-anchor="lien-he">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-7 contact__incentives">
							<h2 class="title title--light-red mb-28 title--contact">TẠI SAO PHẢI ĐẦU TƯ NGAY BÂY GIỜ?</h2>
							<div class="incentives_list">
								<div>
									<p class="title--white bg--color-orange">
										<i class="fa fa-star title--light-red"></i> GIÁ GỐC TỪ CHỦ ĐẦU TƯ</p>
								</div>
								<div>
									<p class="title--white bg--color-orange">
										<i class="fa fa-star title--light-red"></i> CAM KẾT LỢI NHUẬN 8%/NĂM</p>
								</div>
								<div>
									<p class="title--white bg--color-orange">
										<i class="fa fa-star title--light-red"></i> CƠ HỘI SINH LỜI TRONG TƯƠNG LAI GẦN</p>
								</div>
								<div>
									<p class="title--white bg--color-orange">
										<i class="fa fa-star title--light-red"></i> ƯU ĐÃI VAY VỐN TỪ NGÂN HÀNG
									</p>
								</div>
								<div>
									<p class="title--white bg--color-orange">
										<i class="fa fa-star title--light-red"></i> HỖ TRỢ KÝ GỬI, TÁI ĐẦU TƯ CHO KHÁCH HÀNG</p>
								</div>
								<div>
									<div class="contact--special">
										<i class="fa fa-star title--light-red"></i>
										<i class="fa fa-star title--light-red"></i>
										<i class="fa fa-star title--light-red"></i>
										HỖ TRỢ KÝ GỬI - TÁI ĐẦU TƯ CHO KHÁCH HÀNG
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 contact__form">
							<h1 class="title title--green mb-20 title__form">ĐĂNG KÝ THÔNG TIN</h1>
							<form action="/subscribe" method="POST" role="form" id="contact">
								<div class="form-group">
									<label for="name" class="form__label">Họ và tên:</label>
									<input type="text" class="form-control form__input p-6 input--name" name="fullName" id="name" required />
								</div>
								<div class="form-group">
									<label for="phone_number" class="form__label">Số điện thoại:</label>
									<input type="text" class="form-control form__input p-6 input--phone-number" name="phone" id="phone_number" required pattern="^09[0-46-9][0-9]{7}$|^012[0-9]{8}$|^016[2-9][0-9]{7}$|^018[68][0-9]{7}$|^0199[0-9]{7}$|^08[689][0-9]{7}$|^02[0-9]{9}$"
									/>
								</div>
								<div class="form-group">
									<label for="email" class="form__label">Email:</label>
									<input type="email" class="form-control form__input p-6 input--email" name="email" id="email">
								</div>
								<div class="form-group">
									<label for="message" class="form__label">Yêu cầu:</label>
									<textarea class="form-control form__input form__textarea p-6" name="content" id="message"></textarea>
								</div>
								<button type="submit" id="btnFormSubmit" class="btn-block btn btn-primary form__btn btn--bg-orange">
									NHẬN BẢNG GIÁ
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="container">
					<hr>
	
					<div class="info">
						<div class="row">
							<div class="col-md-2 text-center">
								<h2 class="title title--green text-center">Liên hệ</h2>
							</div>
							<div class="col-md-6">
								<p class="contact__info title--black font-bold">CÔNG TY CỔ PHẦN ĐỊA ỐC FIRST REAL</p>
								<p class="contact__info">• Địa chỉ:</p>
								<p class="contact__info info-plus">+ VP1: 455 Nguyễn Hữu Thọ, Đà Nẵng</p>
								<p class="contact__info info-plus">+ VP2: 116 Đường 2/9, Đà Nẵng</p>
							</div>
							<div class="col-md-4">
								<p class="contact__info mgTop31">• Hotline:
									<a href="tel:0979 807 015" class="text--black">0979 807 015</a>
								</p>
								<p class="contact__info">• Email:
									<a href="tel:batdongsan0891@gmail.com" class="text--black">batdongsan0891@gmail.com</a>
								</p>
								<p class="contact__info">• Website:
									<a href="http://quyendiaoc.com" target="_blank" class="text--black">quyendiaoc.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</main>
	
		<div class="phone-call">
			<a href="tel:0979 807 015" class="phone-call__icon">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</a>
			<div class="phone-call__content--wrap">
				<div class="phone-call__content--item">
					<a href="tel:0979 807 015">0979 807 015</a>
				</div>
			</div>
		</div>
	
		<button class="btn__subscribe">
			NHẬN BẢNG GIÁ
		</button>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="/public/client/js/main.bundle.js"></script>
	</body>
	
	</html>