<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Dự án căn hộ cao cấp The Monarchy | Thank you</title>
	<meta name="author" content="Hilton">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"/>
	<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/client/css/style.bundle.css">
</head>
<body>
<main class="thank__page">
	<div class="thank__overlay"></div>
	<div class="thank__content">
		<div class="thank__icon--success">
			<i class="fa fa-check" aria-hidden="true"></i>
		</div>
		<h2>Đăng ký
			<br>thành công</h2>
		<p class="thank__desc">Cảm ơn quý anh chị đã đăng ký nhận bảng giá.</p>
		<p class="thank__desc">Chúng tôi sẽ sớm liên hệ với quý anh chị.</p>

		<a href="http://quyendiaoc.com" class="thank__btn--redirect">Xem thêm những dự án đầu tư khác</a>

		<div class="thank__line"></div>

		<div class="thank__info">
			<div class="thank__info--item">
			</div>
			<div class="thank__info--item">
				<h3>CÔNG TY CỔ PHẦN ĐỊA ỐC FIRST REAL</h3>
				<p>VP1: 455 Nguyễn Hữu Thọ, Đà Nẵng
					<br>VP2: 116 Đường 2/9, Đà Nẵng</p>
			</div>
			<div class="thank__info--item">
				<ul class="thank__contact list-unstyled">
					<li>
						<a href="tel:0979 807 015">0979 807 015</a>
					</li>
					<li>
						<a href="tel:batdongsan0891@gmail.com">batdongsan0891@gmail.com</a>
					</li>
					<li>
						<a href="http://quyendiaoc.com">quyendiaoc.com</a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</main>
</body>
</html>
