.title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: montserratMedium;

  @include respond-to(xs) {
    font-size: 24px;
  };
}

.title--white {
  color: #fff;
}

.title--black {
  color: #000;
}

.title--green {
  color: #288C28;
}

.title--light-red {
  color: #FF1C2E;
}
