<% layout('admin/boilerplate') %>
<div  class="form col-md-6 col-md-offset-3">
    <section class="login_content">
        <form action="/admin/create-account" method="post" class="form-validation-pl">
            <h1>Đăng ký Tài khoản</h1>
            <div class="item">
                <input type="text" name="name" class="form-control" data-parsley-trigger="change" placeholder="Họ và tên nhân sự"
                       required data-parsley-required-message="Bạn chưa nhập họ tên"
                    autocomplete="off">
            </div>
            <div class="item">
                <input type="text" name="email" class="form-control" placeholder="Email"
                       data-parsley-trigger="change" autocomplete="off"
                       pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                       required data-parsley-pattern-message="Email không hợp lệ" data-parsley-required-message="Bạn chưa nhập Email">
            </div>
            <div class="item">
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu"
                       required data-parsley-required-message="Bạn chưa nhập Mật khẩu"
                       data-parsley-minlength-message="Mật khẩu nên có ít nhất 6 ký tự"
                       data-parsley-mincheck="6" id="password" autocomplete="off">
            </div>
            <div class="item">
                <input type="password" name="repassword" class="form-control" placeholder="Nhập lại mật khẩu"
                       required data-parsley-required-message="Vui lòng nhập lại Mật khẩu"
                       data-parsley-equalto="#password" data-parsley-equalto-message="Mật khẩu không khớp"
                autocomplete="off">
            </div>
            <div class="item">
                <button class="btn btn-default submit" type="submit">Xác nhận</button>
            </div>

            <div class="clearfix"></div>
        </form>
    </section>
</div>
